@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html{
  background-color: rgb(233, 230, 230);
  background-image: url(photooo.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.section1{
  display: block;
  padding: 10px;
  box-shadow: 0px 10px 5px 0 #ffffff;
}
.section1 h4{
  padding: 30px;
  display: block;
  font-size: 3em;
  margin-left: 525px;
  margin-top: 100px;
  color: #ffffff;
  font-weight: bold;
}
.type1{
  display: block;
  font-size: 1.2em;
  margin-left: 525px ;
  margin-bottom: 60px;
  border-radius: 10px;
}
.type2{
  display: block;
  font-size: 1.2em;
  margin-left: 525px;
  margin-bottom: 60px;
  border-radius: 10px;
}
.type3{
  display: inline-block;
  font-size: 1.2em;
  margin-left: 525px ;
  margin-top: 20px;
  color: #353333;
}.type4{
  display: inline-block;
  font-size: 1.2em;
  margin-left: 100px ;
  margin-top: 20px;
  color: #353333;
}
@media(max-width:1019px){
  .section1 h4 {
    margin-left: 400px;
  }
  .type1{
    margin-left: 400px;
    margin-bottom: 40px;
  }
  .type2{
    margin-left: 400px;
    margin-bottom: 40px;
  }
  .type3{
    margin-bottom: 200px;
    margin-left: 400px;
  }
  .type4{
    margin-left: 50px;
  }
 @media(max-width:1152px){
  .section1 h4 {
    margin-left: 400px;
    margin-bottom: 10px;
  }
  .type1{
    margin-left: 400px;
    margin-bottom: 40px;
  }
  .type2{
    margin-left: 400px;
    margin-bottom: 40px;
  }
  .type3{
    margin-bottom: 200px;
    margin-left: 400px;
  }
  .type4{
    margin-left: 80px;
  }
}
@media(max-width:1024px){
  .section1 h4 {
    margin-left: 350px;
    margin-bottom: 10px;
  }
  .type1{
    margin-left: 350px;
    margin-bottom: 40px;
  }
  .type2{
    margin-left: 350px;
    margin-bottom: 40px;
  }
  .type3{
    margin-bottom: 200px;
    margin-left: 350px;
  }
  .type4{
    margin-left: 60px;
  }
}
@media(max-width:1019px){
  .section1 h4 {
    padding: 100px;
    margin-left: 280px;
    margin-bottom: 10px;
  }
  .type1{
    margin-left: 350px;
    margin-bottom: 40px;
  }
  .type2{
    margin-left: 350px;
    margin-bottom: 40px;
  }
  .type3{
    margin-bottom: 200px;
    margin-left: 350px;
  }
  .type4{
    margin-left: 60px;
  }
  }
  @media(max-width:740px){
    .section1 h4 {
      margin-left: 330px;
    }
    .type1{
      margin-left: 330px;
      margin-bottom: 40px;
    }
    .type2{
      margin-left: 330px;
      margin-bottom: 40px;
    }
    .type3{
      margin-bottom: 200px;
      margin-left: 330px;
    }
    .type4{
      margin-left: 50px;
    }
    }
  @media(max-width:679px){
    .section1 h4 {
      margin-left: 110px;
    }
    .type1{
      margin-left: 110px;
      margin-bottom: 40px;
    }
    .type2{
      margin-left: 110px;
      margin-bottom: 40px;
    }
    .type3{
      margin-bottom: 200px;
      margin-left: 110px;
    }
    .type4{
      margin-left: 30px;
    }
    }
